@import '@module';
@import url('https://use.typekit.net/brz8anz.css');

.main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.main-content {
		width: 100%;
		display: inline-flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		//align-items: center;
		max-width: 1200px;
		padding: 0 $bsu;
		//min-height: 700px;

		.main-padding {
			padding: 100px 0;
		}

		.main-logo {
			position: relative;
			max-width: 100px;
			height: auto;
			margin-bottom: $qsu;

			img {
				border-radius: 500px;
				max-width: 100px;
			}
		}

		.signature {
			position: relative;
			max-width: 100px;
			height: auto;
			margin-left: -40px;

			img {
				max-width: 200px;
			}
		}

		h1 {
			margin-bottom: $hsu;
		}
	}

	footer {
		flex-shrink: 1;
		padding: $bsu;
		max-width: 1200px;
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}

	@include lg-down {
		h1 {
			font-size: $font-size-base * 2.4;
		}
	}
	@include md-down {
		& {
			height: auto !important;
		}
		h3 {
			font-size: 19px;
		}
	}
}

.main-centered {
	@extend .main;
	height: 100vh;
	overflow-y: auto;
}
