@import '@module';

.modal {
	position: fixed;
	z-index: 500;
	width: 70%;
	padding: 30px;
	left: 15%;
	top: 15%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	transform: translateY(15vh);

	background: #fff;
	border-radius: .3rem;
	box-shadow: 0 0.06rem 0.25rem 0 rgba(60, 65, 80, .15);
	margin-bottom: 20px;
	transform-origin: 50% 50%;

	animation: openModal 0.3s $transition-decelerate forwards;


	.modal-title {
		color: #222;
	}

	.modal-text {
		white-space: pre-line;
		color: #5E5E5E;
		margin-top: 20px;
	}

	h2, h3 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.modal-wrapper {
		display: flex;

		.left {
			flex: 0 0 65%;
		}

		.right {
			float: right;
			text-align: right;
			flex: 1;
		}
	}

	&:hover {
		-webkit-box-shadow: 0 0.06rem 0.25rem 0 rgba(60, 65, 80, .3);
		box-shadow: 0 0.06rem 0.25rem 0 rgba(60, 65, 80, .3);
	}
}


@media (min-width: 600px) {
	.Modal {
		width: 1000px;
		left: calc(50% - 500px);
	}
}

.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);

	-webkit-animation: fadeInFromNone 0.3s ease-out;
	-moz-animation: fadeInFromNone 0.3s ease-out;
	-o-animation: fadeInFromNone 0.3s ease-out;
	animation: fadeInFromNone 0.3s ease-out;
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}


@keyframes openModal {
	0% {
		transform: translateY(15vh) scale(0.96);
		opacity: 0;
	}

	100% {
		transform: translateY(0vh) scale(1);
		opacity: 100%;
	}
}
